html,
body {
    height: 100vh;
}

body {
    background-color: #EEF5FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
}


.board {
    height: 50%;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-right: auto;
    margin-left: 20%;
}

.cell {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(n+7) {
    border-bottom: none;
}

.cell.highlight {
    background-color: #f7b32c;
}

.control {
    width: 50%;
    margin-left: 20%;
    margin-right: auto;


}

.button {

    background-color: #2698cd;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;


}

.gameStatement{
    margin-top: auto;
}